<% routes_array = [] %>

<% @nearby.each do |stop| %>
  <% stop.routes.distinct.each do |route| %>
    <% routes_array.push(route) %>
  <% end %>
<% end %>

<div class="columns">
  <% routes_array.uniq.each do |record| %>
    <div class="routes-tile row text-center">
      <div class="route-title small-2 columns">
        <h1><%= record.short_name %></h1>
        Route
      </div>
      <%= link_to route_path(id: record, direction: 1, lat: params[:lat], lon: params[:lon]) do %>
        <div class="direction small-5 columns">
          <%= fa_icon "chevron-circle-left 2x" %><br>
          <span><%= record.outbound ? '<span class="glyphicon glyphicon-chevron-right"></span>'.html_safe + record.outbound : "" %></span>
        </div>
      <% end %>
      <%= link_to route_path(id: record, direction: 0, lat: params[:lat], lon: params[:lon]) do %>
        <div class="direction direction-two small-5 columns">
          <%= fa_icon "chevron-circle-right 2x" %><br>
          <span><%= record.inbound ? '<span class="glyphicon glyphicon-chevron-left"></span>'.html_safe + record.inbound : "" %></span>  
        </div>
      <% end %>
    </div>
  <% end %>
</div>