<% @page = "journeys-new" %>

<div id="header" class="text-center">Awesome, when should we alert you?</div>

<div class="small-8 small-offset-2 columns">
  <%= form_for @journey, role: "form", html: {class: "form-horizontal"} do |f| %>
  
    <div class="form-group">
      <%= f.label :alert_distance, "Alert Distance", class: "col-sm-2 control-label" %>
      <div class="col-sm-10 select-style">
        <%= f.select :alert_distance, ["0.25 miles", "0.5 miles", "1.0 miles", "2.0 miles"], html_option = { class: "form-control" } %>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :alert_type, "Alert Type", class: "col-sm-2 control-label" %>
      <div class="col-sm-10 select-style">
        <%= f.select :alert_type, ["Alarm & Notification", "Alarm", "Notification"], html_option = { class: "form-control" } %>
      </div>
    </div>
  
    <%= f.hidden_field :stop, value: params[:stop]  %>
    <%= f.hidden_field :route, value: params[:route]  %>
    <%= f.hidden_field :direction, value: params[:direction]  %>
    <%= f.hidden_field :lat, value: params[:lat]  %>
    <%= f.hidden_field :lon, value: params[:lon]  %>
    <%= f.hidden_field :trip, value: params[:trip]  %>
    
    <div class="submit"><%= f.submit "Set Alarm" %></div>
  
  <% end %>
</div>