<% @page = "journeys-show" %>

<style>
#map-canvas {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

#firstHeading {
  font-size: 8pt;
}

</style>

<script src="http://isithackday.com/hacks/geo/yql-geo-library/yqlgeo.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDw1Ba3y7gTlafSaFsLW7RmkOpmogonpw&sensor=true">
</script>
<script>

  var end_lat;
  var end_lon;
  var start_lat;
  var start_lon;

  var startLatLng
  var currLatLng;
  var endLatLng;

  var alert_distance;
  alert_distance = "<%= @journey.alert_distance %>"
  var alert_distance_integer;
  alert_distance_integer = parseFloat(alert_distance);

  $(function(){
    $.get("<%= journey_url(@journey.id) %>.json", function(data){
      $( $("type-number[0]").html(data.journey.start_lat));
      start_lat = data.journey.start_lat
    });
  });

  $(function(){
    $.get("<%= journey_url(@journey.id) %>.json", function(data){
      $( $("type-number[1]").html(data.journey.start_lon));
      start_lon = data.journey.start_lon
    });
  });
  $(function(){
    $.get("<%= journey_url(@journey.id) %>.json", function(data){
      $( $("type-number[2]").html(data.journey.end_lat));
      end_lat = data.journey.end_lat
    });
  });


  $(function(){
    $.get("<%= journey_url(@journey.id) %>.json", function(data){
      $( $("type-number[3]").html(data.journey.end_lon));
      end_lon = data.journey.end_lon
    });
  });

  $(function(){
    jQuery("#btnInit").click(initiate_geolocation);


    function initiate_geolocation() {

      var watchPositionId = 0;
      var show_location;

      if (navigator.geolocation)
      {
        navigator.geolocation.clearWatch(watchPositionId);
        watchPositionId = navigator.geolocation.watchPosition(handle_geolocation_query, handle_errors);
      }
      else
      {
        yqlgeo.get('visitor', normalize_yql_response);
      }
    }

    function handle_errors(error)
    {
      switch(error.code)
      {
        case error.PERMISSION_DENIED: alert("user did not share geolocation data");
        break;

        case error.POSITION_UNAVAILABLE: alert("could not detect current position");
        break;

        case error.TIMEOUT: alert("retrieving position timedout");
        break;

        default: alert("unknown error");
        break;
      }
    }

    function normalize_yql_response(response)
    {
      if (response.error)
      {
        var error = { code : 0 };
        handle_error(error);
        return;
      }

      var position = {
        coords :
        {
          latitude: response.place.centroid.latitude,
          longitude: response.place.centroid.longitude
        },
        address :
        {
          city: response.place.locality2.content,
          region: response.place.admin1.content,
          country: response.place.country.content
        }
      };

      handle_geolocation_query(position);

    }

    var locationInfo;


    function handle_geolocation_query(position){

      var timestampDate = new Date(position.timestamp);

      locationInfo = position.coords.latitude + ", " + position.coords.longitude + '  --> Last Updated: ' + timestampDate.toLocaleString();
      $('#locationDisplay').text(locationInfo);
      
          var earthRadius = 3961.3; // Radius of the earth in miles
          var dLatitude = convertToRadian(end_lat - position.coords.latitude);
          var dLongitude = convertToRadian(end_lon - position.coords.longitude);
          var a = Math.sin(dLatitude / 2) * Math.sin(dLatitude / 2) + Math.cos(convertToRadian(position.coords.latitude)) * Math.cos(convertToRadian(end_lat)) * Math.sin(dLongitude / 2) * Math.sin(dLongitude / 2);
          var greatCircleDistance = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
          var distance = earthRadius * greatCircleDistance;

          // Check distance against alert_distance
          if (distance < alert_distance_integer ) {
            new Audio("/audios/buzz.mp3").play();
            alert("It's time to start packing up. You will be at your stop shortly.");

          } else {
            console.log("Don't Ping Yet")

          };

          console.log('alert_distance is less than miles away')
          console.log(distance + 'miles away');

      // Google Maps API

      var currLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

      var startLatLng = new google.maps.LatLng(start_lat, start_lon);
      var endLatLng = new google.maps.LatLng(end_lat, end_lon);

      var mapOptions = {
        center: currLatLng,
        zoom: 12
      };

      var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);   
 
 // Kyle - add image url here
      // var image = '';
        
      var marker;
      var infowindow;
      marker = new google.maps.Marker({
        position: currLatLng, 
        map: map,
        // icon: image,
        title: "My Current Location" });

      var infowindow = new google.maps.InfoWindow({
        content: '<div id="content">'+
        '<p id="firstHeading" class="firstHeading">Current Location</p>'+'</div>'
      });

      // Google Maps API Traffic Layer
      var trafficLayer = new google.maps.TrafficLayer();
      trafficLayer.setMap(map);

      // Directions API
      var directionsDisplay;
      directionsDisplay = new google.maps.DirectionsRenderer();

      directionsDisplay.setMap(map);
      var directionsService = new google.maps.DirectionsService();
      var request = {
        origin: currLatLng,
        destination: endLatLng,
        travelMode: google.maps.TravelMode.TRANSIT
      };

      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        }
      });
      
      // You can view the infoWindow when you click on the moving icon
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
    }

    function convertToRadian(numericDegree) {
      return numericDegree * Math.PI / 180;
    }

    google.maps.event.addDomListener(window, 'page:change', initiate_geolocation);  

  })

</script>

<h1>I love maps!!</h1>
Current Journey id: <%= @journey.id %>
<br>
Current Journey end_lat: <%= @journey.end_lat %>
<br>
Current Journey end_lon: <%= @journey.end_lon %>
<br>
Current Journey alert_distance: <%= @journey.alert_distance %>
<div>
  <button id="btnInit" >Let's Get our Tracking On!</button><br>

</div>

<p>Here's your current location: <span id="locationDisplay"></span></p>
You are Heading <%= @journey.direction %>
<br>
A. Your Starting Location
<br>
B. Your End Stop

<div id="map-canvas"></div>