<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Transit Alarm" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= @page %>" class="body">
    
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#"><%= image_tag "bus-welcome.png", size: '17', id: 'bus-nav' %> Transit Alarm</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
      
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><%= link_to "Route Selection", routes_path %></li>
            <li><%= link_to "Preferences", new_journey_path %></li>
            <li><%= link_to "Map View", routes_path %></li>
            <li><%= link_to "About", routes_path %></li>
          </ul>
        </section>
      </nav>
    </div>

    <div id="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    
    <script>$(document).foundation().foundation('joyride', 'start');</script>
  </body>
</html>